:root{
    --vermelho:#E50914;
    --preto:#141414;
    --branco-fonte: #FFF;
    --branco: #AAA;
}

/*css reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--preto);
    font-family: sans-serif;
    color: var(--branco-fonte);
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.70vw;
    padding: 20px 20px 20px 80px;
    background-color: var(--preto);
    width: 100vw;
    position: fixed;
    top: 0;
}

header .container nav a {
    text-decoration: none;
    margin: 5px;
    color: var(--branco-fonte);
}

header .container nav a:hover {
    color: var(--branco);
}

.logo {
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 1.10vw;
    margin-right: 25px;
    cursor: pointer;
}

/*main film*/
.main-film {
    font-size: 1.3vw;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 30%;
    margin-left: 5%;
    text-shadow: 2px 2px var(--preto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.title {
    margin-bottom: 12px;
    font-size: 3vw;
}

.synopsis {
    font-size: 1.1vw;
}

#myVideo {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    width: 100%;
    height: 100%;
    margin-top: -160px;
}

.buttons {
    margin-top: 3vw;
}

.btn-cover {
    background-color: rgba(0,0,0,.50);
    padding: 15px 30px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
    font-family: sans-serif;
    color: white;
    transition: 0.3s ease all;
}

.btn-cover i{
    margin-right: 10px;
}

.btn-cover:hover {
    background-color: whitesmoke;
    text-shadow: rgba(26, 17, 5, 0.86);
    color: black;
}

.box-film {
    width: 100%;
    height: 100%;
    display: block;
}

.carousel-films {
    display: relative;
    margin: 25px;
    margin-top: -30px;
}